* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}
body {
    font-family: Bookman Old Style;
    background: linear-gradient(78deg, rgba(23, 53, 225, 0.58), rgb(16, 16, 224));
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: auto;
    width: auto;
}
header {
    text-align: center;
    padding: 1rem 0;
    background: rgba(3, 2, 6, 0.55);
    font-family: 'Poppins', sans-serif; 
    
}

.logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#title {
    font-size: 3rem;
    color: rgb(255, 254, 255);
}


.container {
    background: rgba(19, 80, 94, 0.68);
    border-radius: 2rem;
    padding: 2rem;
    width: 90vw;
    max-width: 600px;
    text-align: center;
    margin: 2rem auto;
    box-shadow: 0 0 35px #fff;
    animation: gradientAnimation 10s infinite alternate;
}


h1,h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

p{
    color: #fff;
    font-size: 1.2rem;
}

ol{
    color: #fff;
    font-size: 1rem;
    padding: 0 6rem;
    text-align: left;
}

button {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    color: rgba(0, 0, 0, 0.98);
    background: rgba(235, 248, 0, 0.82);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5ms;
    border-radius: 25px;

}
